@font-face {
    font-family: Corbel; 
    src: url(fonts/corbel.ttf);
   }

/* #main_header {
    background: -webkit-linear-gradient(87deg, rgba(54, 54, 54, 0) 44%, rgba(54, 54, 54, 0) 58%, rgba(54, 54, 54, 0.43) 68%, rgba(54, 54, 54, 0.988235) 72%);
    background: -moz-linear-gradient(87deg, rgba(54, 54, 54, 0) 44%, rgba(54, 54, 54, 0) 58%, rgba(54, 54, 54, 0.43) 68%, rgba(54, 54, 54, 0.988235) 72%);
    background: -o-linear-gradient(87deg, rgba(54, 54, 54, 0) 44%, rgba(54, 54, 54, 0) 58%, rgba(54, 54, 54, 0.43) 68%, rgba(54, 54, 54, 0.988235) 72%);
    background: -ms-linear-gradient(87deg, rgba(54, 54, 54, 0) 44%, rgba(54, 54, 54, 0) 58%, rgba(54, 54, 54, 0.43) 68%, rgba(54, 54, 54, 0.988235) 72%);
    background: linear-gradient(3deg, rgba(54, 54, 54, 0) 44%, rgba(54, 54, 54, 0) 58%, rgba(54, 54, 54, 0.43) 68%, rgba(54, 54, 54, 0.988235) 72%);
    width: 1300px;

    height: 911px;
}
 */
.menu a {
    font-family: Corbel;
    font-size: 14px;
    font-weight: 400;
    line-height: 60px;
    text-align: center;
    text-indent: -15px;
    padding-right: 7px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.menu a:hover {
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}


.menu {

    text-align: center;
}

